[build]
builder = "DOCKERFILE"
dockerfilePath = "Dockerfile.mydata-proxy"

[deploy]
healthcheckPath = "/pod_health"
healthcheckTimeout = 300
restartPolicyType = "ON_FAILURE"
restartPolicyMaxRetries = 3

[environment]
RUST_LOG = "info"
RUST_BACKTRACE = "1"
LISTEN_ADDRESS = "0.0.0.0:8000"
METRICS_ADDRESS = "0.0.0.0:9185"
HISTOGRAM_ADDRESS = "0.0.0.0:8001"
REMOTE_WRITE_URL = "https://mydata-mimir-testnet.up.railway.app/api/v1/push"
REMOTE_WRITE_USERNAME = ""
REMOTE_WRITE_PASSWORD = ""
LABEL_NETWORK = "railway-production"
LABEL_HOST = "mydata-proxy"
KEY_SERVER_1_TOKEN = "key-server-1-token"
KEY_SERVER_2_TOKEN = "key-server-2-token"
KEY_SERVER_3_TOKEN = "key-server-3-token"
SAMPLE_CLIENT_TOKEN = "sample-client-token"

[[volumes]]
name = "config"
mountPath = "/app/config"

[[services]]
name = "mydata-proxy"
source = { repo = "https://github.com/The-Social-Proof-Foundation/myso-mydata", branch = "master" }

[services.variables]
PORT = "8000"
METRICS_PORT = "9185"
HISTOGRAM_PORT = "8001"