#### Mandatory configurations ####

# Network to use. Should be one of:
# network: Testnet
# network: Mainnet
# network: !Devnet
#
# For Devnet, you need to specify the package ID for the MyData package, e.g.,
# network: !Devnet
#   mydata_package: '0x0000000000000000000000000000000000000000000000000000000000000000'
# For Testnet and Mainnet, the default deployments of the MyData package will be used.
#
# Example:
network: Testnet

# You can provide a custom full node URL in exactly one of these ways:
# 1. Set the `node_url` in this config file
# 2. OR omit `node_url` here and set the NODE_URL environment variable
#
# If the `node_url` is not set in either place, a default URL will be used for the given network.
#
# Example:
node_url: http://fullnode.testnet.mysocial.network:9000

# Server mode:
#   1) Open: Supports all policy packages. 
#   2) Permissioned: Supports only allowed policy packages. 
#   3) Committee: Supports all packages. Requires DKG setup for master key share.
#
# #### OPEN MODE ####
# For the Open mode, set the registered key server object ID to be used, e.g.,:
# server_mode: !Open
#   key_server_object_id: '0x0000000000000000000000000000000000000000000000000000000000000000'
#
# Example:
server_mode: !Open
  key_server_object_id: '0x0000000000000000000000000000000000000000000000000000000000000000'

# #### PERMISSIONED MODE ####
# For the Permissioned mode, set the allowed clients and their configurations.
# A client config contains:
# - Client name - for debugging purposes only, can always be modified.
# - The associated key server object id. Should never change.
# - The allowed packages with MyData policies. Must be unique and point to the
#   first versions of the packages. Packages can be added to the list later.
# - The type of the client master key. See below.
#
# In normal setting, use Derived key type for deriving the client master key
# from the server master key. Set derivation_index to be a unique derivation
# index used for this client. This value must *never* change, else a different
# key might be used for that client.
#
# If a client master key is exported, change the type to Exported and track
# the derivation index in deprecated_derivation_index (to make sure it is
# not used in the future).
#
# In case the client master key is imported, use Imported and set the env_var
# to an environment variable that contains the BLS key in hex format.
#
# Example of a permissioned server mode configuration:
# server_mode: !Permissioned
#   client_configs:
#     - name: "alice"
#       client_master_key: !Derived
#         derivation_index: 1
#       key_server_object_id: "0xaaaa000000000000000000000000000000000000000000000000000000000001"
#       package_ids:
#         - "0x1111111111111111111111111111111111111111111111111111111111111111"
#     - name: "bob"
#       client_master_key: !Imported
#         env_var: "BOB_BLS_KEY"
#       key_server_object_id: "0xbbbb000000000000000000000000000000000000000000000000000000000002"
#       package_ids:
#         - "0x2222222222222222222222222222222222222222222222222222222222222222"
#         - "0x2222222222222222222222222222222222222222222222222222222222222223"
#     - name: "carol"
#       client_master_key: !Exported
#         deprecated_derivation_index: 3
#       key_server_object_id: "0xcccc000000000000000000000000000000000000000000000000000000000003"
#       package_ids:
#         - "0x3333333333333333333333333333333333333333333333333333333333333333"

# #### COMMITTEE MODE ####
# See the runbook for fresh DKG and key rotation in details.
#
# Environment variables MASTER_SHARE_VX where X is the key server committee version (e.g. 1).
#
# Committee state can be:
# - Active: Server is operating with one active master share. Version determined from onchain key 
#   server object. Must set MASTER_SHARE_VX where X matches the onchain version. 
# 
# Example: For version 0, set MASTER_SHARE_V0.
# Config example:
# server_mode: !Committee
#   member_address: '<MY_ADDRESS>'
#   key_server_obj_id: '<KEY_SERVER_OBJ_ID>'
#   committee_state: !Active
#
# - Rotation: Server is rotating to a new version. Current version is X and target version is X+1.
#   Must set both MASTER_SHARE_VX and MASTER_SHARE_V{X+1}. Server uses current share and switches 
#   to next when onchain updates.
# 
# Example: For rotation from 1 to 2, set both MASTER_SHARE_V1 and MASTER_SHARE_V2.
# Config example:
# server_mode: !Committee
#   member_address: '<MY_ADDRESS>'
#   key_server_obj_id: '<KEY_SERVER_OBJ_ID>'
#   committee_state: !Rotation
#     target_version: 2

#### Optional advanced configurations ####
#
# The port that the prometheus agent can use to poll for the metrics.
# metrics_host_port: 9184
#
# The minimum version of the SDK that is required to use this service.
# ts_sdk_version_requirement: '>=0.4.5'
#
# Update intervals and timeouts for various operations. Example values are shown below.
# rgp_update_interval: '60s'
# allowed_staleness: '2m'
# session_key_ttl_max: '30m'

# Optional: Metrics push configuration to send metrics to mydata-proxy
# Uncomment and configure to enable pushing metrics to an external endpoint
# metrics_push_config:
#   bearer_token: "random-string-for-testing"
#   push_interval_secs: 10
#   push_url: "http://localhost:8000/publish/metrics"